.board {
    width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.board-title {
    background-color: rgba(43, 54, 135, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    padding: 30px 14px;
    border: none;
}
