* {
    margin: 0;
}
.progress-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
    gap: 83px;
    align-items: start;
    position: absolute;
}

.progress-row > .box {
    width: 250px;
}

@media screen and (max-width: 600px) {
    .progress-row .box {
        flex-direction: column;
    }
}

/*divider*/

.box {
    width: 250px;
    min-height: 500px;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;

}

.box-progress {
    background-color: rgba(43, 54, 135, 1);;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 14px;
    border: none;
}


.box-container {
    width: 250px;
    background-color: rgba(98, 149, 241, 0.8);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    margin-top: 53px;
}

.title {
    font-size: 18px;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px 14px;
    line-height: 23px;
}

.description {
    font-size: 16px;
    font-style: normal;
    padding: 20px 14px;
    line-height: 23px;
}

.user {
    font-size: 14px;
    font-style: normal;
    padding: 20px 14px;
    line-height: 23px;
}
