.header {
    background: rgba(43, 54, 135, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px 28px 32px;
    color: white;
    position: absolute;
    top: 80px;
    left: 95px;
    right: 95px;
}

.header-title {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.create-task-button {
    background: rgba(234, 232, 232, 1);
    border: none;
    padding: 8px 32px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
