.form input {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 1);
    padding: 6px;
    margin: 32px 0;
}

.form input::placeholder {
    color: rgba(128, 128, 128, 1);
}

.button-create {
    background-color: rgba(98, 149, 241, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 8px 62px;
    width: fit-content;
}

.button-create:disabled {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(98, 149, 241, 1);
    border: 2px solid rgba(98, 149, 241, 1);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0;
}
